<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal webspace of Mihail Fedorov. Resume, portfolio, projects, ideas, contacts">

    <link rel="apple-touch-icon" sizes="180x180" href="/_/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/_/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/_/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/_/favicons/manifest.json">
    <link rel="mask-icon" href="/_/favicons/safari-pinned-tab.svg" color="#015a73">
    <link rel="shortcut icon" href=/"_/favicons/favicon.ico">
    <meta name="msapplication-config" content="/_/favicons/browserconfig.xml">

    <link rel="image_src" href="{{site.url}}/_/share.jpg">
    <meta name="theme-color" content="#4B6A78">
    <meta name="webmoney" content="478CD212-47CE-41B4-9F85-6BBABA553D24">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
    <link id="theme-style" rel="stylesheet" href="{{site.url}}/assets/css/styles.css?v={{ site.github.build_revision }}">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
