     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{site.baseurl}}/assets/images/profile.png" alt="Mihail Fedorov" />
                <h1 class="name">Mihail Fedorov</h1>
                <h3 class="tagline">Huge, smart &amp; sexy geek</h3>
            </div>

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                  <li class="email"><i class="fa fa-globe"></i>St. Petersburg, RU</li>
                  <li class="phone"><i class="fa fa-phone"></i><a href="tel:+79219463825">+7 (921) 946-38-25</a></li>
                  <li class="email"><i class="fa fa-envelope"></i><a href="mailto:mihail@fedorov.net">mihail@fedorov.net</a></li>
                  <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/2mf" target="_blank">2mf</a></li>
                  <li class="github"><i class="fa fa-github"></i><a href="http://github.com/kolobus" target="_blank">kolobus</a></li>
                  <li class="telegram"><i class="fa fa-telegram"></i><a href="http://telegram.me/kolobus" target="_blank">kolobus</a></li>
                  <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/mihailfedorov" target="_blank">mihailfedorov</a></li>
                  <li class="keybase"><i class="fa fa-key"></i><a href="https://keybase.io/kolo/">F225 8EF2 C55A 2A2F</a>
                  <li class="btc"><i class="fa fa-btc"></i><a href="https://blockr.io/address/info/1FedorovDiaxVXJjqWk8AFA5x1uNi1N5K6" target="_blank">1FedorovDiaxVXJjqWk8AFA5x1uNi1N5K6</a></li>

                </ul>
            </div>

        </div>
