       <div class="sidebar-wrapper">
            <div class="profile-container">
                <a href="/"><img class="profile" src="{{ site.github.owner_gravatar_url }}" alt="Mihail Fedorov" /></a>
                <h1 class="name">Mihail Fedorov</h1>
                <h3 class="tagline">Huge, smart &amp; sexy geek</h3>
            </div>

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                  <!--sse-->
                  <li class="email"><i class="fa fa-globe"></i>St. Petersburg, RU</li>
                  <li class="phone"><i class="fa fa-phone"></i><a href="tel:+79219463825">+7 (921) 946-38-25</a></li>
                  <li class="email"><i class="fa fa-envelope"></i><a href="mailto:{{ site.mail }}">{{ site.mail }}</a></li>
                  <!--/sse-->
                  <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter.username }}">{{ site.twitter.username }}</a></li>
                  <li class="github"><i class="fa fa-github"></i><a href="http://github.com/kolobus">kolobus</a></li>
                  <li class="telegram"><i class="fa fa-telegram"></i><a href="http://telegram.me/kolobus">kolobus</a></li>
                  <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/mihailfedorov">mihailfedorov</a></li>
                  <li class="instagram"><i class="fa fa-instagram"></i><a href="https://instagram.com/kolobus">kolobus</a></li>
                  <li class="keybase"><i class="fa fa-key"></i><a href="https://keybase.io/kolo/">F225 8EF2 C55A 2A2F</a>
                  <li class="btc"><i class="fa fa-btc"></i><a href="https://blockr.io/address/info/{{ site.money.bitcoin }}">{{ site.money.bitcoin }}</a></li>
                  <li class="kmd"><i class="fa">K</i><a href="https://kpx.io/accounts/{{ site.money.komodo }}">{{ site.money.komodo }}</a></li>
                  <li class="wlc"><i class="fa fa-wifi"></i><a href="http://thetranspotimers.com">{{ site.money.wirelesscoin }}</a></li>

                </ul>
            </div>

            <div class="resources-container container-block">
            <h2 class="container-block-title">Random</h2>
              <ul class="list-unstyled resources-list">
                <li><a href="https://ip.cx">Whois tools</a></li>
                <li><a href="https://googleforidiots.com">Google for idiots</a></li>
                <li><a href="https://ipv6tits.com">IPv6 tits</a> <sup>nsfw</sup></li>
                <li><a href="https://binaryhamsters.com">Binary Hamsters</a></li>
                <li><a href="http://thetranspotimers.com">The Transpotimers</a></li>
              </ul>
            </div>

            <div class="statement-container container-block">
            <h2 class="container-block-title">Statement</h2>
              <p>Carsten Knopf is <s>a jerk</s> totally a good guy.</p>
            </div>

            <div>&nbsp;</div>

        </div>
